.wrapper{
    position: absolute;
    z-index: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    // background-color: red;
    padding: 0 0 0 80px;
    
    grid-template-columns: repeat(12, 1fr);

    align-items: center;

    grid-gap: 31px;

}

.image {

    grid-column: 5/13;
    height: 100%;
    width: 100%;
    // background-color: red;
    }

.picture {
    margin-top: 220px;
    margin-left: 450px;
}





